fastapi
uvicorn
pydantic
torch --extra-index-url https://download.pytorch.org/whl/cpu
transformers
peft
accelerate
sentence-transformers
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
pypdf
